# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

out

logs

mesh-table/*.log

.venv

.idea

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Configuration files (keep example files only)
config/application.properties
!config/application.properties.example

# Images
*.png

# Markdown
*.md

# macOS
.DS_Store

# Text files
*.txt

*.log

# Exception: include exp folder
!exp/
!exp/**/*.md
!exp/**/*.py
